.header {
    padding-top: 35px;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80px;

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        left: 275px;
        top: 0px;
        background-color: #331A2F80;
    }
}

.header__logo {
    display: flex;
    column-gap: 44px;
}

.header__logo-icon {
    display: flex;
    align-items: center;
}

.header__logo-text {
    color: #331A2FE5;
    font-size: 14px;
    line-height: 18px;
    width: 200px;
}

.header__menu {
    display: flex;
    align-items: center;
    column-gap: 215px;
}

.menu__list {
    display: flex;
    column-gap: 55px;
    margin-left: 35px;
}

.menu__item {
    line-height: 35px;
    color: #331A2F;

    &:hover {
        color: #cf51cf90;
        transition: 0.3s ease;
    }


    &--analytics {
        display: flex;
        align-items: center;

        & svg {
            margin-top: 10px;
            margin-left: 12px;
        }
    }
}

.menu__link {
    color: inherit;
    font-size: 24px;
}

.menu__phone {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 11px;
    color: #331A2F;

    &:hover {
        color: #cf51cf90;
        transition: 0.3s ease;
    }
}

.menu__phone-number  {
    position: relative;
    font-size: 24px;
    line-height: 35px;
    color: inherit;
}

.header__button {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__button-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    min-height: 45px;
    line-height: 35px;
    font-size: 23px;
    letter-spacing: 2%;
    text-align: center;
    background-color: #CF51CE;
    border-radius: 12px;
    color: #fff;
    padding: 4px 32px;


    &:hover {
        background-color: #8912DE;
        transition: 0.5s ease;
    }
}

.header__button-toggle {
    display: none;
}


// Tablet 1
@media (max-width: 1619.98px) {
    .header {
        padding-top: 30px;
    }

    .header__container {
        min-height: 62px;

        &::before {
            left: 217px;
        }
    }

    .header__logo {
        column-gap: 34px;
    }

    .header__logo-icon img {
        width: 187px;
        height: 44px;
    }

    .header__logo-text {
        font-size: 10px;
        line-height: 14px;
        width: 158px;
    }

    .header__menu {
        column-gap: 135px;
    }

    .menu__list {
        column-gap: 40px;
        margin-left: 30px;
    }

    .menu__link {
        font-size: 18px;
    }


    .menu__item--analytics {
        & svg {
            margin-top: 5px;
            margin-left: 14px;
        }
    }

    .menu__phone-number {
        font-size: 18px;
    }

    .header__button {
        margin-left: 90px;
    }

    .header__button-link {
        width: 152px;
        font-size: 18px;

        & svg {
            width: 20px;
            height: 20px;
        }
    }
}



// Tablet 2
@media (max-width: 1279.98px) {
    .header {
        padding-top: 35px;
    }

    .header__container {
        justify-content: space-between;
    }

    .header__logo-icon img {
        width: 180px;
        height: 40px;
    }

    .header__button {
        column-gap: 80px;
        margin-left: 0;
    }


    .header__button-toggle {
        position: relative;
        width: 42px;
        height: 28px;
        display: block;
        cursor: pointer;
        background: none;
        color: #CF51CE;
        border: none;
        padding: 0;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            right: 0;
            width: 42px;
            height: 4px;
            border-radius: 4px;
            background-color: #CF51CE;
            box-shadow: 0 -8px 0 0 #CF51CE;
            transition: 0.5s ease;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 32px;
            height: 4px;
            border-radius: 4px;
            background-color: #CF51CE;
            transition: 0.5s ease;
        }

        &:hover::before {
            box-shadow: 0 -8px 0 0 #8912DE;
            background-color: #8912DE;
        }
        &:hover::after {
            background-color: #8912DE;
        }
    }

    .header__button-toggle.active {
        &::before
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            width: 32px;
            height: 3px;
            background-color: #8912DE;
            transition: linear 0.1s;
            z-index: 2;
        }

        &::before {
            transform: rotate(45deg);
            box-shadow: none;
            top: 50%;
        }

        &::after {
            width: 42px;
            transform: rotate(-45deg);
            top: 50%;
        }
    }

    .header__menu {
        flex-direction: column;
        text-align: center;
        background-color: #FAFAFA;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        left: 0;
        top: -35px;
        transform: translateY(-100%);
        transition: transform 0.3s;

        &.active {
            transform: translateY(0%);
            top: 35px;
        }
    }

    .menu__list {
        display: inline-block;
        flex-direction: column;
        column-gap: 20px;
    }
}

// Mobile
@media (max-width: 767.98px) {
    .header__container::before {
        display: none;
    }
    .header__logo-icon img {
        width: 140px;
        height: 32px;
    }

    .header__logo-text {
        display: none;
    }

    .header__button {
        column-gap: 22px;
    }

    .header__button-link {
        width: 103px;
        min-height: 36px;
        font-size: 14px;
        padding: 4px 20px;
        line-height: 27px;

        & svg {
            width: 13px;
            height: 13px;
        }
    }
}